<label for="herd[name]">Name of Herd:</label>
<input type="text" name="herd[name]" value="<%= herd.name %>" placeholder="Name of Herd">
<label for="herd[activinty]">Herd Activity:</label>
<input type="text" name="herd[activity]" value="<%= herd.activity %>" placeholder="Herd Activity">
<input type="submit" value="Save Herd">
